.section-projects
  background-color #F0F0F0

  .field
    justify-content center

  .image
    img
      filter grayscale(100%)

    .overlay
      position absolute
      top 0
      left 0
      height 100%
      width 100%
      background-color #000000
      transition 0.5s ease
      opacity 0.4
      -webkit-filter grayscale(100%)

  .image:hover
    img
      filter grayscale(0%)

    .overlay
      opacity 0;
      -webkit-filter grayscale(0%)
